:root{
  --green: #4CAF50;
  --lighter-green:#5CDB95;
  --big-border:5px;
  --small-border:3px;
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
.App {
  background-color: var(--lighter-green);
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}


.content{
  width: 95%;
  max-width: 800px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-y: auto;
  background-color: #ddd;
  position: absolute;
  box-shadow: 5px 5px 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content::-webkit-scrollbar {
  display: none;
}

.todo {
  background-color:white;
  border-bottom: 1px solid #aaa;
  margin:0;
  color:black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius:var(--small-border);
  padding: 1rem;
  animation: entrance 700ms ease-out;
  animation-fill-mode: backwards;
}
@keyframes entrance{
  from {
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}
.button-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  
}
.text{
  width: 50%;
  text-align: left;
  
}
.done{
  color: #777;
}

.input{
  background-color: #05386B;
  min-height:70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
#inp{
  background-color: rgb(27, 112, 137);
  border:0;
  border-radius: var(--big-border);
  min-width: 70%;
  color: #fff;
  font-size: 1.2rem;
}

#sub-btn:focus, #inp:focus{
  outline: none;
}


.btn{
  display: inline-block;
  border-radius: var(--big-border);
  cursor: pointer;
  transition-duration: 0.4s;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem;
  background-color: white;
}

.right{
  border-radius: 0 var(--big-border) var(--big-border) 0;
}

.left{
  border-radius: var(--big-border) 0 0 var(--big-border);
}

#sub-btn{
  color: black;
  height: auto;
  padding: 0.2em 0.5em;
  border:2px solid var(--green);
  font-weight: 700;
}
#sub-btn:hover{
  background-color: var(--green); 
  color: white;
}


#inp, #sub-btn{
  border-radius: var(--big-border);
}

#del-btn{
  border:2px solid indianred;
  background-color:indianred;
  color: black;
  border-radius:var(--small-border);
  cursor: pointer;

}



#del-btn:hover{
  
  color: indianred;
  background-color: inherit;
}



.quant-btn{
  background-color:#5CDB95;
  border:2px solid #5CDB95;
}
.quant-btn:hover{
  background-color: inherit;
  
}
.quantity{
  padding: 4px 10px;
  background-color: #ccc;
}
.quantity-box{
  display: flex;
  margin: 0 1rem;
}


@media (min-width:700px){
  .content{
    height: 80vh;
    border: 1px solid black;
  }
  .todo {
    font-size: 1.5rem;
    height: 50px;
  }
  #sub-btn{
    padding: 1em;
  }
}